		.slick-dots li button:before{
			    font-size: 21px;
			    color: #000;
			    opacity: 1;
		}

		.slick-dots li.slick-active button:before{
			color: #e42693;
			opacity: 1;
		}

		.slick-slider .slick-track, .slick-slider .slick-list a{
			text-decoration: none;
			height: 275px;

		}

		.slick-slide.slick-current.slick-active {
			height: 50px;
		}