.registro .contenedor.center input {
    width: 100%;
    height: 55.096px;
    border: 1px solid #B7B7B8;
    text-indent: 11px;
    margin-bottom: 13px;
    outline: none;
}

.registro .contenedor.center button {
    width: 100%;
    height: 55.096px;
    text-align: center;
    background: #6ABD46;
    color: #000;
    border: none;
    font-weight: 700;
    margin-bottom: 34px;
    cursor: pointer;
}

.main{
	margin-top: 0px!important;
}

.main .registro {
	height: auto!important;
}

.main .registro .contenedor {
    height: auto!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
}